
header {
    .logo {
      width: 5rem;
    }
  
    .fuente {
      font-size: 1.5rem;
      padding-left: 2rem;
      text-transform: uppercase;
  
      li :hover {
        background-color: whitesmoke;
      }
    }
  
    border-bottom: 1px solid aquamarine;
  }